.portfolio-page {
  width: 100%;
}
.portfolio-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 10rem 5rem;
}
.port-card {
  width: 50rem;
  margin: 2rem;
  height: 86rem;
  padding: 2rem;
  transform: scale(0.95);

  box-shadow: var(--box-shadow-dark);
  border-radius: var(--border-radius-big);
  transition: all 0.3s ease;
}
.port-card:hover {
  transform: scale(1);
}

.port-card-head {
  height: 30rem;
}
.port-card-img {
  height: 100%;
  border-radius: var(--border-radius-big);
}
.port-card-body {
}

.port-card-body-h {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 47rem;
}
.port-card-name {
  font-size: 3rem;
  padding: 1rem 0;
  border-bottom: 0.2rem solid var(--color-ash);
}
.port-card-text {
  flex-grow: 1;
}

.port-card-tools {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 0.2rem solid var(--color-ash);
}
.port-card-tools li {
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-ash);
  border-radius: var(--border-radius-small);
}
.port-card-tools li:not(:last-of-type) {
  margin-right: 3rem;
}

.port-card-links {
  padding-top: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
}
.port-card-links li:not(:last-of-type) {
  margin-right: 3rem;
}
