/* -------------------------------------------------------------------------------------- */
/* ---------------------------------Welcome---------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.welcome button {
  /* align-self: auto; */
}

.welcome p {
  letter-spacing: 0.4rem;
}

.btn {
  border-radius: 2rem;
  color: var(--color-orange);
  background-color: var(--color-white);
  font-size: 2.5rem;
  padding: 2rem 4rem;
  border: 0.2rem solid var(--color-orange);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  color: var(--color-white);
  background-color: var(--color-orange);
}

/* -------------------------------------------------------------------------------------- */
/* --------------------------------About me---------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1690px) {
  .about-me-container {
    grid-template-columns: 40rem 1fr;
  }
  .about-me-info-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 10rem 10rem;
    gap: 4rem;
  }
}

.about-me {
  margin-top: 2rem;
}

.about-me-h2 {
  width: fit-content;
  margin: auto;
}

.about-me-container {
  margin-top: 10rem;
  display: grid;
  grid-template-areas:
    "img info"
    ". text";
  grid-row: auto;
  grid-template-columns: 40rem 120rem;
  gap: 5rem;
  justify-content: center;
}

.about-me-imgg {
  width: 40rem;
  transform: scale(0.98);
  outline: 2px solid var(--color-orange);
  outline-offset: 5px;
}
.about-me-info {
}

.about-me-info-ul {
  display: grid;
  grid-template-columns: 50rem 50rem;
  grid-template-rows: 10rem 10rem 10rem;
  gap: 4rem;
}

.about-me-info-li {
  display: flex;
  align-items: center;
}

.about-me-info-icon {
  border-radius: 2.5rem;
  width: 10rem;
  height: 10rem;
  background-color: var(--color-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: var(--color-white);
  transition: all 0.2s ease;
  outline: 2px solid var(--color-orange);
}

.about-me-info-icon:hover {
  transform: scale(0.66);
  outline-offset: 2rem;
}

.about-me-info-details {
  margin-left: 3rem;
}
.about-me-info-h5 {
}

.about-me-info-p {
  font-size: 2rem;
  color: var(--color-grey-light);
}

.about-me-non {
  display: flex;
  justify-content: center;
}
.about-me-text {
  margin-top: -10rem;
}
@media only screen and (max-width: 1690px) {
  .about-me-container {
    grid-template-columns: 40rem 1fr;
  }
  .about-me-info-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 10rem 10rem;
    gap: 4rem;
  }
}
