/* -------------------------------------------------------------------------------------- */
/* ------------------------------Side bar------------------------------------------------ */
/* -------------------------------------------------------------------------------------- */

.sidebar {
  width: 15rem;
  height: 100vh;
  background-color: var(--color-blue);
}

.sidebar-container {
  background-color: var(--color-blue);
  width: 10rem;
  height: 80vh;
  margin-top: 5rem;
  border-radius: 0 30px 30px 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow-dark);
}

.sidebar-logo {
  width: 6rem;
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------- */
/* ---------------------------------Welcome---------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.landing-welcome {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-img {
  position: absolute;
  z-index: -2;
  right: 0;
  min-width: 100rem;
  opacity: 0.5;
}
.welcome button {
  /* align-self: auto; */
}

.welcome p {
  letter-spacing: 0.4rem;
}

.btn {
  border-radius: 1rem;
  color: var(--color-green);
  background-color: transparent;
  font-size: 2.5rem;
  padding: 2rem 4rem;
  border: 0.2rem solid var(--color-green);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  color: var(--color-white);
  background-color: var(--color-green);
}

/* -------------------------------------------------------------------------------------- */
/* --------------------------------About me---------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1690px) {
  .about-me-container {
    grid-template-columns: 40rem 1fr;
  }
  .about-me-info-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 10rem 10rem;
    gap: 4rem;
  }
}

.about-me {
  height: 100%;
  padding: 5rem 0;
}

.about-me-h2 {
  margin: auto;
}

.about-me-container {
  margin-top: 1rem;
  display: grid;
  grid-template-areas:
    "img info"
    ". text";
  grid-row: auto;
  grid-template-columns: minmax(50rem, 50rem) minmax(50rem, 125rem);
  justify-content: center;
  align-items: center;
}

.about-me-imgg {
  width: 50rem;
}
.about-me-info {
}

.about-me-info-ul {
  display: grid;
  grid-template-columns: 50rem 50rem;
  grid-template-rows: 10rem 10rem 10rem;
  gap: 4rem;
}

.about-me-info-li {
  display: flex;
  align-items: center;
}

.about-me-info-icon {
  border-radius: 2rem;
  width: 6rem;
  height: 6rem;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--color-white);
  transition: all 0.2s ease;
  outline: 2px solid var(--color-blue);
}

.about-me-info-icon:hover {
  transform: scale(0.66);
  outline-offset: 2rem;
}

.about-me-info-details {
  margin-left: 3rem;
}
.about-me-info-h5 {
}

.about-me-info-p {
  font-size: 2rem;
  color: var(--color-blue);
}

.about-me-non {
  display: flex;
  justify-content: center;
}
.about-me-text {
  grid-area: info;
  padding-right: 5rem;
}

.about-me-social h6 {
  width: fit-content;
  font-size: 1.2rem;
  margin-left: 3.3rem;
}

.about-me-social {
  display: flex;
  align-items: center;
  margin-left: 4.5rem;
}

.about-me-social-h5 {
  margin-right: 2rem;
  color: var(--color-blue);
}

.about-me-social-li {
  flex-wrap: wrap;
  position: relative;
  text-decoration: none;
  color: var(--color-blue);
  font-size: 4rem;
  width: 5rem;
  padding: 1rem;
  margin: 2rem;
  height: 5rem;
  border-radius: 1.5rem;
  transition: all.3s ease;
}

.about-me-social-li:hover {
  color: var(--color-green);
}
.about-me-social-li span {
  width: 4rem;
  height: 5rem;
  background-color: var(--color-blue);
}

.about-me-social-li:hover.about-me-social-li::before {
  left: 200%;
  top: -150%;
  opacity: 1;
}

/* -------------------------------------------------------------------------------------- */
/* --------------------------------Skills---------------------------------------------- */
/* -------------------------------------------------------------------------------------- */
.skills {
  padding: 10rem 5rem;
}
.skills h2 {
  margin-left: 20%;
}

.skills-content {
  padding-top: 5rem;
  display: grid;
  /* color: var(--color-white); */
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    " para para "
    "dev ui";
  gap: 2rem;
  justify-items: center;
  border-radius: 4rem;
}
.skills-content h5 {
  letter-spacing: 0.5rem;
}
.skills-content p {
  grid-area: para;
  max-width: 100rem;
  margin-bottom: 5rem;
}

.skills-content-ul {
  padding: 2rem 0;
}

/* -------------------------------------------------------------------------------------- */
/* ------------------------------Portfolio------------------------------------------------ */
/* -------------------------------------------------------------------------------------- */

.portfolio {
}

.portfolio-h2 {
  margin: auto;
}

.portfolio-card {
  display: flex;
  justify-content: space-around;
}

.portfolio-card-container {
  position: relative;
  padding: 2rem;
  box-shadow: var(--box-shadow-light);
  max-width: 25rem;
  border-radius: 1rem;
}
.portfolio-card-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: none;
  top: 0;
  left: 0;
}

.portfolio-card-container:hover.portfolio-card-container::before {
  display: block;
  background-color: var(--color-green);
  opacity: 0.4;
  backdrop-filter: blur(40px);
}

.portfolio-img {
  max-width: 10rem;
  border-radius: 1rem;
}

.portfolio-body {
  display: flex;
}
.portfolio-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------------------------------------------- */
/* ------------------------------Contact------------------------------------------------ */
/* -------------------------------------------------------------------------------------- */
