.App {
  margin: auto;
  display: grid;
  grid-template-areas: "sidebar others";
  grid-template-columns: 10rem 1fr;
}

.one {
  grid-area: sidebar;
  position: fixed;
  z-index: 20001;
}

.two {
  margin: auto;
  grid-area: others;
  max-width: 2000px;
}

@media (max-width: 800px) {
  .two {
    width: 90rem;
  }
}
@media (max-width: 700px) {
  .two {
    width: 80rem;
  }
}
@media (max-width: 600px) {
  .two {
    width: 70rem;
  }
}
@media (max-width: 500px) {
  .two {
    width: 60rem;
  }
}
