:root {
  --color-white: #ffffff;
  --color-green: #22d172;
  --color-grey: #112240;
  --color-ash: #a8b2d1;
  --color-orange: #ff4c29;
  --color-blue: #202c45;
  --box-shadow-light: rgba(0, 0, 0, 0.07) 0px 5px 16px 0px;
  --box-shadow-dark: rgba(0, 0, 0, 0.07) 5px 16px 40px 0px;
  --border-radius-small: 0.5rem;
  --border-radius-big: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  margin: 0;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Abril Fatface", cursive;
}

h1,
h2,
p,
button {
  position: relative;
  padding: 0.5rem;
  margin: 5rem 0 5rem 5rem;
}

h1 {
  font-size: 10rem;
  color: var(--color-blue);
}

h1 .h1-span {
  color: var(--color-green);
}

h2 {
  background: linear-gradient(
    to right,
    var(--color-green) 30%,
    var(--color-blue) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 7rem;
  width: fit-content;
}

h5 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: var(--color-blue);
}

p,
li {
  letter-spacing: 0.12rem;
  line-height: 160%;
  font-size: 2rem;
  color: var(--color-grey);
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
li::selection,
ul::selection,
div::selection,
span::selection,
br::selection,
button::selection {
  background-color: var(--color-green);
}

h1::before,
h1::after,
h2::before,
h2::after,
p::before,
p::after {
  position: absolute;
  font-size: 1.2rem;
  font-family: "Open Sans";
  color: var(--color-grey);
}

h1::after,
h2::after,
p::after {
  top: 100%;
  left: -1rem;
}

h1::before,
h2::before,
p::before {
  bottom: 100%;
  left: -1rem;
}

h1::before {
  content: "<h1>";
}
h1::after {
  content: "</h1>";
}
h2::before {
  content: "<h2>";
}
h2::after {
  content: "</h2>";
}
p::before {
  content: "<p>";
}
p::after {
  content: "</p>";
}

button {
}

button:hover {
}

br {
  display: block;
}
p br {
  content: "";
  margin: 4em;
  display: block;
  font-size: 24%;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 3000px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 2000px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 1600px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 42%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 35%;
  }
}
@media only screen and (max-width: 445px) {
  html {
    font-size: 33%;
  }
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 30%;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 25%;
  }
}
/* 
"repository": {
    "type": "git",
    "url": "git+https://github.com/chiemenaokafor/portfolio-website.git"
  },
  "keywords": [
    "portfolio"
  ],
  "author": "Okafor Chiemena Derick",
  "license": "ISC",
  "bugs": {
    "url": "https://github.com/chiemenaokafor/portfolio-website/issues"
  },
  "homepage": "https://github.com/chiemenaokafor/portfolio-website#readme",
   */

/* "engines": {
    "node": "14.17.6",
   "npm": "6.14.15"
  },
   "heroku-postbuild": "npm run build"
 */
